*/*.lst
*/*.rel
*/*.sym
*/*.asm
*/*.json
*/*.ihx
*/*.lk
*/*.noi
*/*.map
*/*.o
*/cmajor.asm
*/cmajor_sn.asm
*/sfx_test.asm
*/sfx_test_sn.asm
*/SMSlib.h
*/SMSlib.lib
*/*.rom
*/*.sms
*/*.gg
*/*.sg
!wladx/main.asm
!wladx_alf/main.asm
!wladx_no_queue/main.asm
!msx_ay/main.asm
!msx_opl/main.asm
!msx_reg_test/main.asm